*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firststyling{
    background-size: contain;
    background-image: url("project-images/hero-cover.3.png");
    background-attachment: fixed;
    height: 600px;
    width: 100%;
}